html, body { height: 100%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: -webkit-radial-gradient(
    center top, circle farthest-corner,
    #FFF 0%, #D8DFE9 100%);
  background-image: radial-gradient(
    circle farthest-corner at center top,
    #FFF 0%, #D8DFE9 100%);
  overflow: hidden;
}

@font-face {
  font-family: icon;
  src: url('https://bennettfeely.com/fonts/icons.woff');
}

@include flip-cover("dribbble", "d", #FC1786);
@include flip-cover("twiter", "t", #2EC8FA);
@include flip-cover("linkedin", "in", #2672ae);
@include flip-cover("email", "g", #f80);

/////////////// || BUTTON SYSTEM 1 || ///////////////

// @import "compass/css3";

$dark: #20826c;
$light: #fff;
$spacing: 40px;
$border: 2px;

$hover-size: $spacing * 2 - $border * 2;
$hover-margin: -38px;

/*
 * These hover-margin's don't work for some reason
 * 0 - $spacing - $border
 * ($spacing + $border) * -1
*/

.navigation { background-color: $dark; }

.navigation {
  padding: $spacing;
  min-height: 20vh;
}

.navigation li {
  float: left;
  font-size: 2em;
  margin-right: $spacing;
  line-height: $spacing * 2;
  position: relative;
  text-align: center;
  
  a {
    background-color: $light;
    color: $dark;
    display: block;
    height: $spacing * 2;
    position: relative;
    text-decoration: none;
    width: $spacing * 2;
    
    // @include border-radius(50%);
    // @include transition(color 0.1s);

    border-radius: 50%;
    transition: all 0.1s;

    i {
      position: relative;
      z-index: 1;
    }

    .inner {
      background-color: $dark;
      display: block;
      height: 0;
      left: 50%;
      margin: 0;
      position: absolute;
      top: 50%;
      width: 0;
  
      // @include border-radius(50%);
      // @include transition(all 0.1s);

      border-radius: 50%;
      transition: all 0.1s;
    }

    &:hover {
      color: $light;

      .inner {
        height: $hover-size;
        margin-left: $hover-margin;
        margin-top: $hover-margin;
        width: $hover-size;
      }
    }
  }
}

/////////////// || BUTTON SYSTEM 2 || ///////////////

// @import "~compass/stylesheets/compass/css3";

$blue: #108FE8;
$yellow: #FFC334;
$red: #E53030;
$green: #0EC518;

@mixin round-button($baseColor:$blue, $hoverBaseColor:#333, $diameter:5vw) {
  background: $baseColor;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px darken($baseColor, 10%) inset, 0 5px 5px rgba(darken($baseColor, 40%), 0.17), 0 15px rgba(#fff, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: $diameter;
  width: $diameter;
  
  &:hover {
    background: $hoverBaseColor;
    box-shadow: 0 -2px 0 3px darken($hoverBaseColor, 10%) inset, 0 5px 5px rgba(darken($hoverBaseColor, 40%), 0.17), 0 15px rgba(#fff, 0.32) inset;
   }
}

body {
  background: none repeat scroll 0 0 #ffffff;
  // background: none repeat scroll 0 0 #71AFDF;
  text-align: center;
  margin-top: 50px;
}

.navigationA span {
  margin: 0 10px;
}

.btn-blue {
  @include round-button;

  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // text-align: center;
}
.btn-red {
  @include round-button($red);
}
.btn-green {
  @include round-button($green);
}
.btn-yellow {
  @include round-button($yellow);
}

/////////////// || BUTTON SYSTEM 4 || ///////////////

$width-name: max-width;
$break-small: 460px;

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 570px;
  padding: 35px 15px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .1);
  box-shadow: 0 0 35px rgba(0, 0, 0, .2);
  @media screen and ($width-name : $break-small) {
    height: 100%;
  }
}
  
.social h1 {
    margin: 0 0 15px 0;
    padding-bottom: 22px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 100px;
    color: #fff;
    text-align: center;
    font-weight: 200;
    text-shadow: 0 0 25px;
    transition: all 1s;
    position: relative;
    @media screen and ($width-name : $break-small) {
      font-size: 20vw;
    }
}
    
.social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px dashed rgba(255, 255, 255, .3);
}

.bubble-button {
    margin-top: 25px;
}
    
.bubble-button a {
  display: block;
  width: 110px;
  height: 110px;
  box-shadow: 0 0 0 1px #fff;
  text-align: center;
  line-height: 136px;
  border-radius: 100%;
  text-decoration: none;
  transition: all 250ms;
}
  
.i {
  font-size: 55px;
  color: #fff;
}
        
  .bubble-button:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 185px;
        box-shadow: 0 0 0 3px #fff inset;
        clip: rect(0px, 110px, 0, 0);
        transition: all 250ms;
  }
      
      .bubble-button a:hover {
        box-shadow: 0 0 0 2px #fff, 0 0 0 7px rgba(255, 255, 255, .45);
        transform: rotate(10deg);
      }
        
      .bubble-button a:hover:after {
        clip: rect(0px, 110px, 110px, 0);
      }
      
        .bubble-button a:active {
        box-shadow: 0 0 0 2px #fff, 0 0 10px 4px rgba(255, 255, 255, .7), 0 0 0 15px rgba(255, 255, 255, .2);
        transform: scale(.85);
        }
      
        .bubble-button a:active:after {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, .15) inset;
        }

.bubble {
  position: relative;
}

.bubble svg {
  height: 50%;
  width: 50%;
}
  
.bubble:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: scale(0);
    border-radius: 100%;
}
  
.bubble.activated:before {
    animation: popUp 500ms ease-out;
    @keyframes popUp {
      from {
        transform: scale(0);
        opacity: 1;
      }
      to {
        transform: scale(2.5);
        opacity: 0;
      }
}
}

/////////////// || BUTTON SYSTEM 5 || ///////////////

$color: #0cf;

.slideButton {
	display: inline-block;
	padding: .75rem 1.25rem;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: darken($color, 15%);
		transition: all .3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}

/* optional reset for presentation */

.slideButtonContainer {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}

.slideButtonHeader {
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 2rem;
  color: #777;
}

.slideButtonSpan {
  display: block;
  margin-top: 2rem;
  font-size: .7rem;
  color: #777;
  a {
    font-size: .7rem;
    color: #999;
    text-decoration: underline;
  }
}

/////////////// || BUTTON SYSTEM 6 || ///////////////

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

// body {
//   background: #333;
//   font-family: $openSans;
// }

.buttons6 {
  margin-top: 50px;
  text-align: center;
  border-radius:30px;

  background: #333;
  font-family: $openSans;

  margin-bottom: 50px;
}

$cyan: #0505A9;
$dark: #FFFFFF;
$borderW: 2px;

.blob-btn {
  $numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $cyan;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius:30px;
  
  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: $borderW solid $cyan;
    border-radius:30px;
  }
  
  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW*1.5;
    top: $borderW*1.5;
    width: 100%;
    height: 100%;

    transition: all 0.3s 0.2s;
    border-radius:30px;
  }
  
  &:hover {
    color: $dark;
    border-radius:30px;
    
    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius:30px;
    }
  }
  
  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius:30px;
    background:#ffffff;
  }
  
  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  
  &__blob {
    position: absolute;
    top: $borderW;
    width: 100% / $numOfBlobs;
    height: 100%;
    background: $cyan;
    border-radius: 100%;
    transform: translate3d(0,150%,0) scale(1.7);
    transition: transform 0.45s;
    
    @supports(filter: url('#goo')) {
      transform: translate3d(0,150%,0) scale(1.4);
    }
    
    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * (120% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }
    
    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);
      
      @supports(filter: url('#goo')) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }
  
}

/////////////// || BUTTON SYSTEM 7 || ///////////////

.system7div {
  font-family: sans-serif;
  background-color: #81d4fa;
  font-weight: bold;

  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}

// .text-box {
//   margin-left: 44vw;
//  margin-top: 42vh;
// }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}