:root {
  --primary: #424242;
  --secondary: #808080;
  --black: black;
  --white: white;
  --lightPurple: #b388ff;
  --deepPurple: #673ab7;
  --drumYellow: #ffc600;
  --bisque: bisque;
  --clockOffWhite: #EFEFEF;
  --seaBlue: #018DED;

  /* VARIABLE STYLING ROOT */
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;

  --contrast: 1;
  --hue-rotate: 0deg;
  --opacity: 1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
